@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: Lato, Arial;
    font-weight:300;
    text-align: center;
}
.fractured img {
    max-width: 88vw;
}
.signals img {
    position: relative;
    transition:
        transform 0.05s ease,
        filter 0.05s ease;
    max-width: 88vw;
}
.whitetxt {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 10px;
}
@media screen and (min-width: 340px) {
    body {
        font-weight: 200;
    }
    .whitetxt {
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
    }
}
@media screen and (min-width: 480px) {
    .whitetxt {
        font-size: 18px;
    }
    .signals img {
        max-width: 420px;
    }
    .fractured img {
        max-width: 420px;
    }
}
@media screen and (min-width: 1000px) {
    .signals img {
        max-width: 42vw;
    }
    .fractured img {
        max-width: 42vw;
    }
}